{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container"><br>
    <h3 class="text-center">Post Problems</h3>
    <form method="post" action="{% url 'post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='form-group'>
            <label for="">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="">Content</label>
            {{form.content }}
        </div>
        <div class="form-group">
            <label for="">Author</label>
            {{ form.auther }}
        </div>
        <div class="form-group">
            <label for="">Upload ScreenShot</label>
            {{form.image}}
        </div>
        <input type="text" name="user" value="{{user.id}}" hidden>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
<script>
    $('input').addClass('form-control')
    $('#id_image').addClass('form-control-file border')
    $('#id_auther').val('{{user}}')
    $('#id_auther').attr('readonly', true)
    CKEDITOR.replace('content')
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}