{% extends 'home/base.html' %}

{% block content %}

<div class="container">
    <br>
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-warning alert-dismissible text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <div class="alert" style="background-color: #38ada9">
        <h4 class="text-center">Sign Up</h4>
        <form action="/sign_up" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<script>
    $('input').addClass('form-control')
    // $('#id_username').addClass('form-control')
    // $('#id_password1').addClass('form-control')
    // $('#id_password2').addClass('form-control')
    $('.helptext').css('display', 'none')
    $('.errorlist li').css('color', '#ef2020')
</script>

{% endblock %}