{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <br>
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-info alert-dismissible text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <h3>Change Password</h3>
    <hr>
    <form action="" method="post" class="text-white">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-warning">Change</button>
    </form>
</div>
<script>
$('input').addClass('form-control')
$('.helptext').hide()
$('input').css({
    'margin-bottom':'10px',
    'margin-top':'0px',
})
$('form').css({
    'background':'#74b9ff',
    'padding':'15px',
    'border-radius': '5px',
    'margin': 'auto'
})
</script>
{% endblock %}